NODE_ENV="development"

# Database
DATABASE_URL="postgresql://postgres:admin@localhost:5432/db_test?schema=template"

# openssl rand -base64 33
AUTH_SECRET="xd"

AUTH_GITHUB_ID="string"
AUTH_GITHUB_SECRET="string"